/* 
    File: index.html
    Author: Fekete János Dávid
    Copyright: 2024, Fekete János Dávid
    Group: Szoft I-1-N
    Date: 2024-03-07
    Github: https://github.com/feketejanosdavid-Studies/
    Licenc: GNU GPL  
*/